<h1><a href="/">smartodds project test</a></h1>
<h2><a href="/tennis/">Tennis application</a></h2>
<h3>Import historical tennis results</h3>

{% if result %}<p><strong>{{ result }}</strong></p>{% endif %}

<form action="/tennis/import/" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Import" />
</form>

